* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 800px;
    margin: 150px auto;
    border-radius: 20px;
}

h2 {
    margin-top: 10px;
    text-align: center;
    padding: 8px 16px;
    border-bottom: 1px solid;
}

.col-3 {
    padding: 8px 16px;
    font-size: 20px;
}

.form-control {
    padding: 8px 16px;
}

.cont {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}